html {
	padding:0px 0px 0px 0px;	
	margin:0px 0px 0px 0px;

	width:100%;
	height:100%;

	background-color: #fdfdfd;

}
body {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	width:100%;
	height:100%;

	background-color: #fdfdfd;

}

.flower_div{
	position:relative;

	width:100%;
	height:100%;

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	background-color: transparent;
}

.project_box_div{
	position:relative;
	top:50%;
	left:50%;

	width:400px;
	height:400px;

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;

	transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	
	box-shadow:0px 0px 10px -5px #222222;

	background-color: transparent;
}

.project_circle_div{
	position:absolute;

	width:40%;
	height:40%;

	padding:0px 0px 0px 0px;
	margin-top:50%;
	margin-left:50%;
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;

	transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);

	box-shadow:0px 0px 10px -2px #222222;

	text-align: center;
	background-color: #ff0000;
	color: #cccccc;
}

.project_circle_div div{
	position:relative;
	top:50%;

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);

	word-wrap: break-word;
	text-align: center;
}

.project_circle_div p{
	position:relative;

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.todo_petal_div{
	position: absolute;
	width:20%;
	height:20%;
	
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	
	transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	text-align: center;
	
	box-shadow:0px 0px 10px -2px #222222;

	background-color: #ffff00;
	color: #cccccc;
}

.todo_petal_div div{
	position:relative;
	top:50%;

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);

	text-align: center;
}

.todo_petal_div p{
	position:relative;

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.edit_button_group {
	position: fixed;
	top:100%;
	left:100%;

	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 0px;

	transform: translateY(-100%) translateX(-100%);
	-moz-transform: translateY(-100%) translateX(-100%);
	-webkit-transform: translateY(-100%) translateX(-100%);
	-ms-transform: translateY(-100%)translateX(-100%);
	text-align: right
}

.edit_button_group a{
	position:relative;
}

.p_edit_button_group {
	position: fixed;
	top:100%;
	left:0%;

	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 0px;

	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	text-align: right
}

.p_edit_button_group a{
	position:relative;
}